{{! From Bulma, to be modded and replaced on release }}
{{! TODO: Add GH links, funding links }}

<section class="hero has-background-grey-lightery is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            {{#if logged_in}}
            <button class="button is-white" id="logout">Logout</button>
            {{else}}
            <a class="navbar-item is-active" href="/login">
              Login
            </a>
            {{/if}}
            <a class="navbar-item" href="/login">
              Signup
            </a>
            <a class="navbar-item" href="/profile">
              Profile
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Coming Soon
      </p>
      <p class="subtitle">
        A New Way to Web
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}